nagykozos/Client/Client/Connected Services/ServiceReference1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceFault" nillable="true" type="tns:ServiceFault" />
  <xs:complexType name="Felhasznalo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="Aktiv" type="xs:int" />
          <xs:element minOccurs="0" name="BNev" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FNev" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Jelszo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Jog" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Felhasznalo" nillable="true" type="tns:Felhasznalo" />
  <xs:complexType name="Record">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Record" nillable="true" type="tns:Record" />
  <xs:complexType name="ArrayOfFelhasznalo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Felhasznalo" nillable="true" type="tns:Felhasznalo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFelhasznalo" nillable="true" type="tns:ArrayOfFelhasznalo" />
</xs:schema>