nagykozos/Client/Client/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3000/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server" />
      <xsd:import schemaLocation="http://localhost:3000/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_DeleteUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserId" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUserId_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Server" name="detail" element="q1:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUser_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Server" name="detail" element="q2:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertUserWeb_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserWeb" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertUserWeb_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserWebResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertUserWeb_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Server" name="detail" element="q3:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertUser_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUser" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertUser_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Server" name="detail" element="q4:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IService1_FelhasznaloiLista_InputMessage">
    <wsdl:part name="parameters" element="tns:FelhasznaloiLista" />
  </wsdl:message>
  <wsdl:message name="IService1_FelhasznaloiLista_OutputMessage">
    <wsdl:part name="parameters" element="tns:FelhasznaloiListaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FelhasznaloiLista_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Server" name="detail" element="q5:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IService1_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Logout_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Server" name="detail" element="q6:ServiceFault" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="DeleteUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteUserId" message="tns:IService1_DeleteUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteUserIdResponse" message="tns:IService1_DeleteUserId_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/DeleteUserIdServiceFaultFault" name="ServiceFaultFault" message="tns:IService1_DeleteUserId_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteUser" message="tns:IService1_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteUserResponse" message="tns:IService1_DeleteUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/DeleteUserServiceFaultFault" name="ServiceFaultFault" message="tns:IService1_DeleteUser_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertUserWeb">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertUserWeb" message="tns:IService1_InsertUserWeb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertUserWebResponse" message="tns:IService1_InsertUserWeb_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/InsertUserWebServiceFaultFault" name="ServiceFaultFault" message="tns:IService1_InsertUserWeb_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertUser" message="tns:IService1_InsertUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertUserResponse" message="tns:IService1_InsertUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/InsertUserServiceFaultFault" name="ServiceFaultFault" message="tns:IService1_InsertUser_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="FelhasznaloiLista">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FelhasznaloiLista" message="tns:IService1_FelhasznaloiLista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FelhasznaloiListaResponse" message="tns:IService1_FelhasznaloiLista_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/FelhasznaloiListaServiceFaultFault" name="ServiceFaultFault" message="tns:IService1_FelhasznaloiLista_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Logout" message="tns:IService1_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LogoutResponse" message="tns:IService1_Logout_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/LogoutServiceFaultFault" name="ServiceFaultFault" message="tns:IService1_Logout_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteUserId">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsertUserWeb">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertUserWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FelhasznaloiLista">
      <soap:operation soapAction="http://tempuri.org/IService1/FelhasznaloiLista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IService1/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:3000/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>